<ion-view ng-controller="ProductCtrl" view-title="产品展示">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="doSomething()">类别管理</button>
    </div>
    <h1 class="title">调料管理</h1>
    <div class="buttons">
      <button class="button">添加</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h1 class="text-center">{{content}}</h1>


    <input type="button" ng-click="onMenuShareAppMessage()" value="分享到微信好友"/>
    <input type="button" ng-click="onMenuShareTimeline()" value="分享到朋友圈"/>
  </ion-content>
</ion-view>


